.Answers{
    list-style: none;
    margin: 0;
    padding: 0;
}
.Answers li{
    padding: 10px;
    background-color: rgb(204, 204, 204);
    margin: 5px;
    border-left: 10px solid;
}
.Answers li:hover{
    cursor: pointer;
    background-color: #a2a2a2;
}

.Answers .correct,
.Answers .correct:hover {
    background-color: #1db900;
    border-left: 10px solid #0f6300;
    color: #fff;
}
.Answers .incorrect,
.Answers .incorrect:hover {
    background-color: #ec0000;
    border-left: 10px solid #FF3B3B;
    color: #fff;
}