.cardContainer {
  flex-grow: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
}

.sideBar {
  padding-left: 20px;
  padding-top: 90px;
}

.label {
  padding-bottom: 120px;
}