.cardContainer {
  flex-grow: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
}

.sideBar {
  padding-left: 20px;
  padding-top: 200px;
  position: absolute;
  bottom: 10px;
}

.label {
  padding-bottom: 80px;
}